<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>Order Completed!</h1>
                <p>Visit <a href="/orders">order page</a> for more details.</p>
                

            </main>

            <%- include('../../shared/includes/footer') %>