<section id="background-pic">
  <div id="bg-content">
    <h1>Travel Season</h1>
    <p>The best time to prepare and plan for exploring the world.</p>
    <!-- <a href="/">Discover Products</a> -->
  </div>
</section>
