h1 {
  text-align: center;
  color: var(--color-gray-300);
}

form {
  max-width: 25rem;
  margin: var(--space-8) auto;
  padding: var(--space-4);
  border-radius: var(--border-radius-medium);
  text-align: center;
  border-style: groove;
  border-color: black;
}

form a {
  color: var(--color-gray-700);
}

#switch-form a {
  color: black;
  text-decoration: underline;
}

#switch-form a:hover,
#switch-form a:active {
  color: none;
  background-color: none;
  cursor: pointer;
}
