* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "sans-serif";

  --color-gray-50: rgb(243, 236, 230);
  --color-gray-100: rgb(105, 103, 101);
  --color-gray-300: rgb(99, 92, 86);
  --color-gray-400: rgb(70, 65, 60);
  --color-gray-500: white;
  --color-gray-600: rgba(51, 47, 47, 0.8);
  --color-gray-700: rgb(31, 26, 22);

  --color-primary-50: rgb(253, 224, 200);
  --color-primary-100: rgb(253, 214, 183);
  --color-primary-200: rgb(245, 243, 160);
  --color-primary-400: rgb(255, 251, 0);
  --color-primary-500: rgb(105, 101, 101);
  --color-primary-700: rgb(212, 120, 14);
  --color-primary-200-contrast: rgb(100, 46, 2);
  --color-primary-500-contrast: white;

  --color-error-100: rgb(255 213 63);
  --color-error-500: rgb(199, 51, 15);

  --color-primary-500-bg: rgb(63, 60, 58);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  color: var(--color-gray-500);
  margin: 0;
  position: relative;
}

main {
  width: 90%;
  min-height: calc(100vh - 80px - 28px);
  margin: 0 auto;
}

main h1 {
  color: var(--color-gray-100);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2) var(--space-6);
  color: black;
  border: 1px solid var(--color-primary-500);
  border-radius: var(--border-radius-small);
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(123, 123, 123, 0.8);
}

.btn-alt {
  background-color: transparent;
  color: var(--color-gray-500);
}

.btn-alt:hover,
.btn-alt:active {
  background-color: var(--color-primary-500-bg);
}

.alert {
  border-radius: var(--border-radius-small);
  background-color: var(--color-error-100);
  color: var(--color-error-500);
  padding: var(--space-4);
}

.alert h2 {
  font-size: 1rem;
  margin: var(--space-2);
  text-transform: uppercase;
  text-align: center;
}

.alert p {
  margin: var(--space-2) 0;
  text-align: center;
}

.badge {
  margin-left: var(--space-2);
  padding: 0.15rem var(--space-4);
  border-radius: 10rem;
  background-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
}

footer {
  bottom: 0;
  width: 100%;
}

.nav-items a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(123, 123, 123, 0.8);
}
